body {
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: row;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    /* width: 50px; */
    height: 70px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;
    border-radius: 50%;

    box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, 0.5),
        inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    gap: 40px;
}

.in {
    background-color: rgb(0 35 190);
}

.maill {
    background-color: rgb(80 60 15);
    ;
}

.tell {
    background-color: rgb(40 140 40);
}

.in,
.maill,
.tell {
    opacity: 0.7;

    transition: opacity 250ms linear,
        transform 250ms linear;
}

.in:hover,
.maill:hover,
.tell:hover {
    opacity: 1;
    transform: scale(1.1);
}

.tell img {
    height: 110px;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("img/bg-1.jpg");

    }

    img {
        height: 50px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 120px;
        height: 120px;
    }

    .tell img {
        height: 70px;
    }

}